.region-title {
    width: 100%;
    background-color: $green;
        color: white;
        font-size: 37px;
        padding: 40px 0px;
        font-weight: bold;
        margin-bottom: 20px;
    .page-title {
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: bold;
    }
}

.node-content.container {
    padding-right: 0;
    padding-left: 0;
    p {
        color: #5a5b5d;
        font-size: 13px;
        line-height: 1.1;
        &:first-child {
            color: black;
            font-size: 21px;
            font-weight: bold;
            line-height: 1.1;
        }
    }
} 

.node__content {
    padding-bottom: 30px;
}


.feed-icons {
    display: none;
}