// FOOTER TOP
// DZIAŁAMY LOKALNIE I GLOBALNIE
.footer_top {
  background-image: url('../img/footerbg.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top -5px right;;
  background-color: $primary;
}

#block-dzialamylokalnieiglobalnie {
  // background-image: url('../img/footerbg.png');
  // background-size: auto 100%;
  // background-repeat: no-repeat;
  // background-position: top right;
  // background-color: $blue;
  padding-left: 15px;
  max-width: 1140px;
  min-height: 340px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 550px;

  h2 {
    color: white;
    font-size: 37px;
    font-weight: bold;
  }

  p {
    color: white;
    font-size: 13px;
  }
}

@media(max-width: 1199px) {
  #block-dzialamylokalnieiglobalnie {
    padding-right: 350px;
    background-size: auto 90%;
  }
}

@media(max-width: 991px) {
  #block-dzialamylokalnieiglobalnie {
    padding-right: 200px;
    background-image: none;
  }
  .footer_top {
    background-image: none;
  }
}

@media(max-width: 767px) {
  #block-dzialamylokalnieiglobalnie {
    padding-right: 30px;
  }
}

// FOOTER BOTTOM
.footer_overlay {
  width: 100%;
  background-color: $green;

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  //height: 78px;
  .footer-menu-container {
    text-align: center;

    .region-footer {
      display: inline-block;
    }

    a {
      line-height: 75px;
      img {
        height: 38px;
      }
    }

    ul {
      margin-bottom: 0;
      margin-right: 15px;
      li.menu-item {
        &:first-child {
          padding-right: 40px;
        }
        display: inline-block;
        padding-top: 0;

        a {
          line-height: 75px;
          display: block;
          color: white;
          font-size: 11pt;

          &:hover {
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }

  .credits-container,
  .groupbio-container,
  .footer-menu-container {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    a {
      font-size: 11pt;
      line-height: 75px;
      color: white;

      img {
        position: relative;
        top: -3px;
        height: 11pt;
      }
    }
  }

  .groupbio-container {
    text-align: left;
  }

  .language-switcher-language-url .links {
    font-size: 11pt;

    li {
      opacity: 0;
    }
  }
  .footer-menu-container {
    text-align: center;
  }
}

#block-telega-footer {
  display: inline-block;

  .menu {
    padding-left: 0;
  }

  .menu-item {
    display: inline-block;
  }
}

#block-przelacznikwersjijezykowej {
  display: inline-block;

  .links {
    &:before {
      color: #fff;
      content: "język/language";
      padding-right: 5px;
    }

    li {
      display: inline-block;

      a {
        padding-left: 0px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .footer_overlay {
    padding: 0 0px;

    .footer {
      .credits-container {
        padding: 0 0 20px 0;
        padding-left: 40px;
        text-align: left;
      }

      .logo-menu-container {
        padding-bottom: 10px;
      }
    }
  }

  #block-telega-footer {
    margin-top: 10px;
    margin-bottom: 00px;

    ul {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .footer_overlay {
    .footer-menu-container {
      text-align: right;
    }
  }

  .footer_overlay .credits-container,
  .footer_overlay .groupbio-container {
    text-align: left;
  }

  .footer_overlay .credits-container a,
  .footer_overlay .groupbio-container a,
  .footer_overlay .footer-menu-container ul li.menu-item a {
    line-height: 50px;
  }

  .footer_overlay {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .footer_overlay {

    //margin-top: 0;
    .footer {
      .logo-menu-container {
        padding: 40px 20px 10px 20px;

        .region-footer {
          display: block;

          ul {
            padding: 10px 20px 0px 0;
            margin: 0;

            li {
              a {
                font-size: 11pt;
                line-height: 13pt;
              }
            }
          }
        }
      }

      .credits-container {
        text-align: left;
        padding: 0 20px 40px 20px;
      }
    }
  }
}

@media(max-width: 576px) {
  .footer_overlay .footer-menu-container {
    text-align: left;
  }

  .footer_overlay .footer-menu-container ul {
    margin-left: 0;
    padding-left: 0;

    li a {
      padding-left: 0;
    }
  }
}
