// /* PRZED WYBORAMI */
// #cele, #kandyduje {
//     display: none;
// }

// #kandyduje {
//     background: rgba(10,61,97,1);
//     background: -moz-linear-gradient(top, rgba(10,61,97,1) 0%, rgba(13,94,147,1) 100%);
//     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,61,97,1)), color-stop(100%, rgba(13,94,147,1)));
//     background: -webkit-linear-gradient(top, rgba(10,61,97,1) 0%, rgba(13,94,147,1) 100%);
//     background: -o-linear-gradient(top, rgba(10,61,97,1) 0%, rgba(13,94,147,1) 100%);
//     background: -ms-linear-gradient(top, rgba(10,61,97,1) 0%, rgba(13,94,147,1) 100%);
//     background: linear-gradient(to bottom, rgba(10,61,97,1) 0%, rgba(13,94,147,1) 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3d61', endColorstr='#0d5e93', GradientType=0 );
    
// }
// #kandyduje {
//     .col-lg-6 {
//         padding-left: 0;
//         padding-right: 0;
//     }
// } 

#headerimg {
    position: relative;
    margin-top: -91px;
    background: $primary;
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    .row {
        display: block;
        padding-top: 0px;
        background: #d5dded;
    }
    img {
        width: 100%;
        height: auto;
    }
    video {
        opacity: 0;
        width: 100%;
        margin-bottom: -6px;
        height: auto;
    }

}

@media screen and (max-width: 767px) {
    #headerimg {
        overflow: hidden;
        video {
            width: 200%;
            margin-left: -50%;
        }
    }
}

@media screen and (max-width: 560px) {
    #headerimg {
        overflow: hidden;
        video {
            width: 300%;
            margin-left: -100%;
        }
    }
}

#headerimg::before {
    content: '';
    display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    
}

#onas, #kontakt {
    margin-top: 0;
    background: $grey;
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .about-img, .contact-img {
        padding-right: 0;
        padding-left: 0;
        background-image: url('../img/about.png');
        background-size: cover;
        background-position: center;
        img {
            display: none;
            width: 100%;
            height: auto;
        }
    }
    .about-desc, .contact-desc {
        padding: 70px 70px;
        h2 {
            font-weight: bold;
        }
        .region-onas {
            max-width: 800px;
        }
        .region {
            max-width: 800px;
            p:last-child {
                margin-bottom: 0;
            }
            a:hover {
                color: #f85495;
            }
        }
    }
    .about-desc {
        padding-right: 140px;
        .region {
            float: left;
        }
    }
    .contact-img {
        background-image: url('../img/contact.png');
    }
    .contact-desc {
        padding-left: 140px;
        padding-top: 100px;
        padding-bottom: 100px;
        .region {
            float: right;
        }
    }
}

@media screen and (max-width: 1200px) {
    #onas .about-desc {
        padding: 70px 70px;
        padding-right: 80px; 
    }
    #kontakt .contact-desc {
        padding: 70px 70px;
        padding-left: 80px;
    }
}

@media screen and (max-width: 992px) {
    #onas .about-desc {
        padding: 50px 50px;
        padding-right: 50px; 
    }
    #kontakt .contact-desc {
        padding: 50px 50px;
        padding-left: 50px;
    }
}

@media screen and (max-width: 560px) {
    #onas .about-desc {
        padding: 40px 40px;
        padding-right: 40px; 
    }
    #kontakt .contact-desc {
        padding: 40px 40px;
        padding-left: 40px;
    }
}



@media screen and (max-width: 767px) {
    #onas, #kontakt {
        .about-img, .contact-img {
            img {
                display: block;
            }
        }
    }
}

#realizacje {
    margin: 70px 0;
    margin-bottom: 0;
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        .col-lg-12 {
            padding-right: 0;
            padding-left: 0;
        }
    }
    h2 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 45px;
    }
    .model_tile {
        width: 20%;
        display: block;
        float: left;
        background-size: cover;
        padding-top: 20%;
        position: relative;
        a {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 100%;
            p {
                transition: 0.4s;
                opacity: 0;
                color: white;
                text-transform: uppercase;
                line-height: 1.3;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
        }
        &::before {
            content: '';
            transition: 0.4s;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
        }
        &:hover {
            &::before, a p {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #modelki {
        .model_tile {
            width: 25%;
            padding-top: 25%;
        }
    }
}


@media screen and (max-width: 992px) {
    #modelki {
        .model_tile {
            width: 33.3%;
            padding-top: 33.3%;
        }
    }
}

@media screen and (max-width: 767px) {
    #modelki {
        .model_tile {
            width: 50%;
            padding-top: 50%;
        }
    }
}


@media screen and (max-width: 400px) {
    #modelki {
        .model_tile {
            width: 100%;
            padding-top: 100%;
        }
    }
}


.lb-outerContainer {
    border-radius: 0;
    box-shadow: none;
}
.lb-dataContainer {
    margin-top: -3px;
    background: white;
    width: 100%;
    border-radius: 0;
    .lb-data {
        color: black;
        font-family: $primary-font;
        .lb-caption {font-weight: normal;}
        .lb-details {
            padding: 15px;
        }
    }
    .lb-number {
        display: none !important;
    }
    .lb-close {
        filter: invert(100%);
        margin-right: 15px;
        margin-top: 15px;
    }
    .lb-caption {
        h2 {
            font-weight: bold;
        }
    }
}

#stopka {
    background: $primary;
    padding-left: 10px;
    .container-fluid {
        padding: 20px 40px;
    }
    .social-container {
        padding-right: 0;
        padding-left: 0;
        img {
            height: 30px;
            margin-right: 20px;
        }
    }
    .credits {
        text-align: right;
        line-height: 30px;
        padding: 0;
        a{
            color: white;
            font-size: 14px;
            p {
                display: inline;
            }
        }
        img {
            margin-left: 5px;
            margin-top: -7.4px;
            height: 15px;
        }
    }
}

@media screen and (max-width: 567px) {
    #stopka {
        .container-fluid {
            padding: 20px 30px;
        }
    }
}

@media screen and (max-width: 470px) {
    #stopka {
        display: block;
        .container-fluid .row {
            display: inline-block;
            > div {
                display: inline-block;
                float: left;
            }
        }
        .social-container {
            line-height: 60px;
            a:last-child img {
                margin-right: 0;
            }
        }
    }
}
