a {
    &:hover {
        text-decoration: none;
    }
}

body {
    font-family: $primary-font;
}
.region-content {
    width: 100%;
    
} 
.row {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}
.dialog-off-canvas-main-canvas {
    position: absolute;
    width: 100%;
    top: 89px;
}
@media (max-width: 400px) {
    .dialog-off-canvas-main-canvas {
        top: 80px;
    }
}
#toolbar-bar {
    background-color: rgba(0,0,0,0.5);
}
.toolbar-oriented .toolbar-bar {
    right: auto;
}