.lista .row {
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 991px) {
    .lista .row {
        padding-left: 0;
        padding-right: 0;
    }
}
.tile {
  width: 23.5%;
  overflow: hidden;
  margin-bottom: 20px;

  .image_cover {
    height: 160px;
    overflow: hidden;

    .tile-image {
      background-size: cover;
      background-position: center;
      height: 100%;
      z-index: -1;
      transition: 0.5s;
    }
  }

  .tile-desc {
    overflow: hidden;
    z-index: 2;
    background-color: black;
    color: white;
    min-height: 80px;
    transition: 0.5s;
    padding: 0 30px 0 30px;
    vertical-align: middle;
    display: table;
    width: 101%;

    div {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      width: 100%;

      p {
        padding: 15px 0;
        overflow: hidden;
        margin-bottom: 0;

        a {
          color: white;
          font-weight: bold;
          font-size: 14pt;
          line-height: 17pt;
        }
      }
    }
  }

  &:nth-child(4n+2) {
    margin-left: 2%;
    margin-right: 1%;
  }

  &:nth-child(4n+3) {
    margin-right: 2%;
    margin-left: 1%;
  }

  &:hover {
    .image_cover .tile-image {
      transform: scale(1.1);
    }

    .tile-desc {
      background-color: $primary;

      p a {
        color: #fff;
      }
    }
  }
}

@media (max-width: 1199px) {
  .tile .tile-desc {
    padding: 0 20px;

    div {
      p {
        a {
          font-size: 13pt;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .tile {
    width: 49%;

    &:nth-child(odd) {
      margin-left: 0;
      margin-right: 2%;
    }

    &:nth-child(even) {
      margin-left: 0;
      margin-right: 0;
    }

  }

  .tile .tile-desc {
    padding: 0 20px;
    div {
      p {
        a {
          font-size: 14pt;
        }
      }
    }
  }

  #block-views-block-aktualnosci-block-1 {
    .tile {
      &:not(:nth-child(1)):not(:nth-child(2)) {
        display: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .tile {
    width: 100%;
    //margin-bottom: 0;

    &:nth-child(odd) {
      margin-left: 0;
      margin-right: 0;
    }

    &:nth-child(even) {
      margin-left: 0;
      margin-right: 0;
    }

    &:not(:nth-child(1)):not(:nth-child(2)) {
      display: block;
    }
    &:last-child {
        margin-bottom: 20px;
    }
  }
}
