/* PRZED WYBORAMI */
.navbar .navbar-brand img {
    padding: 5px;
}
.navbar {
    background: rgba(255,255,255, 0.0);
    color: white;
    border-bottom: 5px solid white;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    &.notransparent {
        background: #fff;
        border-bottom: 5px solid $primary;
        #navbarResponsive {
            ul.menu {
                li {
                    a { 
                        color: black;
                    }
                }
            }
        }
        .navbar-brand {
            img {
                -webkit-filter: invert(100%);
                filter: invert(100%);
            }
        }
        .navbar-toggler {
            float: right;
            -webkit-filter: invert(0%);
            filter: invert(0%);
        }
    }
    .navbar-brand { 
        display: flex;
        //border-bottom: 5px solid $orange;
        height: 82px;
        transition: 0.5s;
        // &.opened {
        //     border-bottom: 5px solid white;
        // }
        img {
            margin: auto;
            transition: 0.3s;
        }
    }
    .navbar-toggler {
        height: 67px;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
    .container {
        text-align: right;
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }
    .region-header {
        position: relative;
        height: 100%;
    }
    .navbar-toggler:focus {
        outline: 0;
    }
    #navbarResponsive {
        ul.menu {
            margin-left: 0;
            li {
                display: inline-block;
                a { 
                    line-height: 64px;
                    font-size: 18px;
                    color: white; 
                    font-weight: 600;
                    display: block;
                    padding-bottom: 2px;
                    margin-left: 20px;
                    transition: 0.5s;
                    &:hover {
                        color: $secondary;
                        color: #f85495;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .navbar {
        #navbarResponsive {
            ul.menu {
                margin-top: 20px;
                li {
                    display: block;
                    a {
                        margin-bottom: 10px;
                        margin-left: 15px;
                        line-height: normal;
                    }
                }
            }
        }
    }
}

// BURGER ANIMATION
.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon span {
    display: block;
    color: $primary;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


.animated-icon span {
    background: $primary;
}


.animated-icon span:nth-child(1) {
    top: 0px;
}

.animated-icon span:nth-child(2),
.animated-icon span:nth-child(3) {
    top: 10px;
}

.animated-icon span:nth-child(4) {
    top: 20px;
}

.animated-icon.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.language-switcher-language-url {
    z-index: 1100;
    position: absolute;
    top:-15px;
    right: 0px;
    font-size: 11px;
    color: $green;
    &:before {
        content: "Select language - "
    }
    .links {
        display: inline-block;
        padding-left: 0;
        li {
            text-transform: uppercase;
            padding-right: 5px;
            &:last-child {
                padding-right: 0;
            }
            &.is-active {
                font-weight: bold;
            }
            a {
                color: $green;
            }
        }
        &:before {
            content: "";
        }
    }
}
#block-przelacznikwersjijezykowej .links:before {
    content: "" !important;
    padding-right: 0 !important;
}