#block-views-slider {
    visibility: hidden;
    max-height: 380px;
    overflow: hidden;
    .slick-slide-prev {
        height: 380px;
        .row {
            height: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        .slider-image {
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .slider-text {
            height: 100%;
            background-color: $green;
            color: white;
            display: table;
            padding-left: 25px;
            .text-container {
                clear: both;
                display: table-cell;
                vertical-align: middle;
                h2 {
                    font-size: 37px;
                    font-weight: bold;
                    display: block;
                    max-width: 450px;
                }
                a {
                    font-size: 20px;
                    font-weight: bold;
                    border: 3px solid white;
                    color: white;
                    padding: 10px 15px;
                }
            }
        }
    }
    .slick-dots {
        bottom: 30px;
        display: block;
        text-align: left;
        width: 50%;
        margin-left: 50%;
        padding-left: 25px;
        li {
            height: auto;
            width: auto;
            button {
                background-color: white;
                border-radius: 50%;
                width: 15px; 
                height: 15px;
                margin-right: 10px;
                &::before {
                    display: none;
                }
            }
        }
        li.slick-active {
            button {
                background-color: $primary;
            }
        }
    }
}
.region-slider {
    width: 100%;
}
@media (max-width: 767px) {
    #block-views-slider .slick-slide-prev, #block-views-slider {
        height: auto;
        max-height: 600px;
        .slider-image {
            height: 300px;
        }
        .slider-text {
            min-height: 250px;
            padding-top: 30px;
            padding-bottom: 70px;
            .text-container {
                padding-top: 0px;
            }
        }
        .slick-dots {
            bottom: 20px;
            text-align: center;
            padding-left: 0;
            width: 100%;
            margin-left: 0;
            li {
                padding-left: 5px;
                padding-right: 5px;
                button {
                    margin-right: 0;
                }
            }
            
        }
    }
}
@media (max-width: 576px) {
    #block-views-slider {
        .slick-slide-prev {
            .slider-text {
                .text-container {
                    h2 {
                        font-size: 32px;
                    }
                    a {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}