@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$primary-font: 'Montserrat', sans-serif;
$blue: #137cc6;
$green: #40a42b;
$grey: #d5dded;  
// $grey: #ffe87b;
$orange: #fab600;

$primary: #000000;
$secondary: #5a5b5d;