

<div class="lista">
  {% if title %}
  <h3>{{ title }}</h3>
  {% endif %}
  <div class="container">
    <div class="row">
      {% for row in rows %}
      {# {%
      set row_classes = [
      default_row_class ? 'views-row',
      ]
      %} #}
      {{- row.content -}}
      {% endfor %}
    </div>
  </div>
</div>
