<div class="model_tile" style="background-image: url('{{ fields.field_image.content }}')">
    <a href="{{ fields.field_image.content }}" data-title="<h2>{{fields.title.content}}</h2><p>{{fields.body.content}}</p>" data-lightbox="modelki"><p>{{fields.title.content}}</p></a>
</div>