<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
      <a class="navbar-brand" href="{{ url('<front>') }}"><img src="{{ base_path ~ directory }}/img/logo.svg" height="50px" width="auto" alt="WOW Cast"></a>
      <button class="navbar-toggler second-button" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon"><span></span><span></span><span></span><span></span></div>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto menu">
          <li class="menu-item">
            <a href="#onas">{{ 'O NAS'|t }}</a>
          </li>
          <li class="menu-item">
            <a href="#realizacje">{{ 'REALIZACJE'|t }}</a>
          </li>
          <li class="menu-item">
            <a href="#kontakt">{{ 'KONTAKT'|t }}</a>
          </li>
        </ul>
      </div>
  </div>
</nav>