{% include directory ~ '/templates/header.html.twig' %}

<div class="container">
  <div class="row">
    {% if page.slider %}
    {{ page.slider }}
    {% endif %}
    </div>
</div>

<div class="content-overlay" id="headerimg">
  <div class="container-fluid">
    <div class="row">
        {# <img src="{{base_path ~ directory}}/img/header4.png" width="100%" alt=""> #}
      <video autoplay muted loop playsinline poster="{{base_path ~ directory}}/img/videoposter.gif" class="fullscreen-bg__video">
        <source src="{{ base_path ~ directory }}/video/header.mp4" type="video/mp4" />        
      </video>
      <script>
          var video = document.querySelector('.fullscreen-bg__video');
          var promise = video.play();
          if (promise !== undefined) {
              promise.catch(error => {
                  video.setAttribute("controls","controls")
                  // Auto-play was prevented
                  // Show a UI element to let the user manually start playback
              }).then(() => {
                  // Auto-play started
              });
          }
      </script>
    </div>
  </div>
  
</div>

<div id="onas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 about-img">
          <img src="{{base_path ~ directory}}/img/about.png" alt="Kontakt">
      </div>
      <div class="col-md-6 about-desc">
        {% if page.onas %}
          {{ page.onas }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="content-overlay" id="realizacje">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 align-self-center">
        {% if page.modelki %}
          {{ page.modelki }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div id="kontakt">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 contact-desc">
        {% if page.kontakt %}
          {{ page.kontakt }}
        {% endif %}
      </div>
      <div class="col-md-6 contact-img">
          <img src="{{base_path ~ directory}}/img/contact.png" alt="Kontakt">
      </div>
    </div>
  </div>
</div>

<div id="stopka" class="content-overlay">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 social-container">
        <a target="_blank" href="https://www.facebook.com/wowpicturestv/"><img  style="height: 26px"  src="{{ base_path ~ directory }}/img/facebook.svg" alt="Facebook"></a>
        <a target="_blank" href="https://www.instagram.com/wowpictures.tv/"><img src="{{ base_path ~ directory }}/img/instagram_white.svg" alt="Instagram"></a>
      </div>
      <div class="col-8 credits">
        <a href="https://studiofnc.pl/" target="_blank"><p>Projekt i wykonanie: </p><img src="{{ base_path ~ directory }}/img/fnc-logo.svg" alt="studio FNC"></a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {

      window.onscroll = function() {
        var height = document.querySelector("#headerimg video").clientHeight;
        var top = window.pageYOffset || document.documentElement.scrollTop;
        if(top > height - 91) {
          document.querySelector(".navbar-brand img").src = "{{ base_path ~ directory }}/img/logo_black.svg";
        } else {
          document.querySelector(".navbar-brand img").src = "{{ base_path ~ directory }}/img/logo.svg";
        }
      }
    }
</script>

{# {% include directory ~ '/templates/footer.html.twig' %} #}
