{% include directory ~ '/templates/header.html.twig' %}

<div class="container">
  <div class="row">
    {% if page.slider %}
    {{ page.slider }}
    {% endif %}
    </div>
</div>

<div class="content-overlay" id="headerimg">
  <div class="container-fluid">
    <div class="row">
        {# <img src="{{base_path ~ directory}}/img/header4.png" width="100%" alt=""> #}
      <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
          <source src="{{ base_path ~ directory }}//video/header.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  
</div>

<div id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        {% if page.content %}
          {{ page.content }}
        {% endif %}
      </div>
    </div>
  </div>
</div>



<div id="stopka" class="content-overlay">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 social-container">
        <a target="_blank" href="https://www.facebook.com/wowpicturestv/"><img  style="height: 26px"  src="{{ base_path ~ directory }}/img/facebook.svg" alt="Facebook"></a>
        <a target="_blank" style="filter: invert(100%)" href="https://www.instagram.com/wowpictures.tv/"><img src="{{ base_path ~ directory }}/img/instagram.svg" alt="Instagram"></a>
      </div>
      <div class="col-8 credits">
        <a href="https://studiofnc.pl/" target="_blank"><p>Projekt i wykonanie: </p><img src="{{ base_path ~ directory }}/img/fnc-logo.svg" alt="studio FNC"></a>
      </div>
    </div>
  </div>
</div>

{# {% include directory ~ '/templates/footer.html.twig' %} #}
