{% set url = fields.view_node.content|striptags|trim %}

{% set text = fields.title.content %}
{%     set text_split = text|split(' ', 2) %}
{%     set result = "" %}
{%     if text_split|length > 1 %}
{%        set result = text_split[0] ~ '<br>' ~ text_split[1] %}
{%     else %}
{%        set result = text %}
{%     endif %}

<div class="col-md-2 col-sm-4 col-6 block">
<a href="{{ url }}">
    <div class="block-header">
        <div class="block-image">
            <img src="{{ fields.field_ikona.content }}" alt="{{ fields.title.content }}">
        </div>
        <div class="block-title">
            <h3>{{ result | raw }}</h3>
        </div>
    </div>
</a>
</div>

